h1{
	color:#85252A;font-family: Garamond;font-size: 40px;
	background-color: #E8E7EA
}
.textclass{
	font-family: Helvetica;color: #242724;font-size: 15px;
}
b{
	color: #466243;font-family: Mrs Eaves;font-size: 28px;
}